.container {
    justify-content: center;
  }

.standard-button {
    background-color: #ffb6c1; /* Pastel pink background color */
    border: 1px solid #ffb6c1; /* Pastel pink border color */
    padding: 0px 10px; /* Padding inside the button */
    font-size: 30px; /* Font size */
    cursor: pointer; /* Cursor style */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Box shadow for a slight lift effect */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for background and border */
}

.standard-button:hover {
    background-color: #ff91a4; /* Slightly darker pink on hover */
    border-color: #ff91a4; /* Match border color on hover */
}
.paper-button {
    background-color: #f5f5f5; /* Light gray background color */
    border: 1px solid #ccc; /* Border color */
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Box shadow for a slight lift effect */
}

.strikethrough {
    text-decoration: line-through;
}
