<!DOCTYPE html>
<html>
<head>
    <title>Make a Guess</title>
</head>
<body>
    <h1>Make a Guess</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Guess</button>
    </form>
    
    <hr>
    
    <h2>Answers</h2>
<ul>
    {% for answer in answers %}
        {% if answer.player.guessed_out %}
            <li style="text-decoration: line-through;">
        {% else %}
            <li>
        {% endif %}
                {{ answer.answer_text }}
                {% if answer.player == current_player %}
                    (you)
                {% endif %}
            </li>
    {% endfor %}
</ul>

<h2>Players</h2>
<ul>
    {% for player in players %}
        {% if player.guessed_out %}
            <li style="text-decoration: line-through;">
        {% else %}
            <li>
        {% endif %}
                {{ player.name }}
                {% if player == current_player %}
                    (you)
                {% endif %}
            </li>
    {% endfor %}
</ul>


</body>
</html>