{% extends "dinner/layout.html" %}
{% load static %}

{% block title %}
    Question
{% endblock %}

{% block main %}
    <h1>Guests at the table</h1>
    <br><br>
        {% for player in players %}
            {% if player == host %}
                <h2>{{ player.name }} (host)</h2>
            {% else %}
                <h2>{{ player.name }}</h2>
            {% endif %}
        {% endfor %}
    <br>
    <img src="{% static 'images/wine.jpg' %}" class="img-fluid" alt="Guests arriving" style = "width: 200px";>

    <br><br>
    {% if current_player == host %}
        <form method="post" action="{% url 'lobby' pk=game_id %}">
            {% csrf_token %}
            <button type="submit" class="standard-button" name = "start" value = "start">Start the game</button>
        </form>
    {% else %}
        <h3>Waiting for {{ host }} to start the game</h3>
        <br>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br>
        <form method="post" action="{% url 'lobby' pk=game_id %}">
            {% csrf_token %}
            <button type="submit" class="standard-button" name = "check" value = "check">Check</button>
        </form>
    {% endif %}
{% endblock %}
