<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations! You Won!</title>
</head>
<body>
    <h1>Bad luck, your answer was guessed.</h1>
    <a href="{% url 'game_list' %}">Join Another Game</a>


    <h2>Answers</h2>
    <ul>
        {% for answer in answers %}
            {% if answer.player.guessed_out %}
            <li style="text-decoration: line-through;">{{ answer.answer_text }}</li>
            {% else %}
            <li>{{ answer.answer_text }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Players</h2>
    <ul>
        {% for player in players %}
            {% if player.guessed_out %}
            <li style="text-decoration: line-through;">{{ player.name }}</li>
            {% else %}
            <li>{{ player.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>