{% extends "dinner/layout.html" %}
{% load static %}
{% block title %}
    Loser
{% endblock %}
{% block main %}
    <div class="text-center">
        <br><br>
        <h1>Bad luck, you were guessed.</h1>
        <a href="/">
            <img src="{% static 'images/spill.jpg' %}" class="img-fluid" alt="Winner">
        </a>
        <form method="post" action="{% url 'spectate' game_id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-3">OK</button>
        </form>
    </div>
{% endblock %}
