{% extends "dinner/layout.html" %}
{% load static %}
{% block title %}
    Wait for question
{% endblock %}

{% block main %}
    <form method="get" action="{% url 'join_game' %}">
        {% csrf_token %}
        <img src="{% static 'images/dinnertable.jpg' %}" class="img-fluid" alt="The Dinner Party Game">
        <br><br>
        <h1>{{ host }} is thinking of a question</h1>
        <br>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br>
        <button class="standard-button" type="submit">Check</button>
    </form>
{% endblock %}