{% extends "dinner/layout.html" %}
{% load static %}
{% block title %}
    Winner
{% endblock %}
{% block main %}
    <div class="text-center">
        <br><br>
        {% if winner == current_player %}
        <h1>Congratulations... you won!</h1>
        {% else %}
        <h1>{{ winner }} won!</h1>
        {% endif %}

        <a href="/">
            <img src="{% static 'images/cafe.jpg' %}" class="img-fluid" alt="Winner">
        </a>
        <form method="post" action="{% url 'winner_page' game_id %}">
            {% csrf_token %}
            <button type="submit" class="standard-button">OK</button>
        </form>
    </div>
{% endblock %}
