{% extends "dinner/layout.html" %}
{% load static %}
{% block title %}
    Winner
{% endblock %}
{% block main %}
    <div class="text-center">
        <br><br>
        <h1>Congratulations... you won!</h1>
        <a href="/">
            <img src="{% static 'images/cafe.jpg' %}" class="img-fluid" alt="Winner">
        </a>
        <form method="post" action="{% url 'winner_page' game_id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-3">OK</button>
        </form>
    </div>
{% endblock %}
